<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858652034639-jv6b6guugrp36bm6koks2av5fpcm6l99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858652034639-jv6b6guugrp36bm6koks2av5fpcm6l99</string>
	<key>API_KEY</key>
	<string>AIzaSyBrJyCWK6x3Fj3BNT5fO0eLAiWSYUYI2ls</string>
	<key>GCM_SENDER_ID</key>
	<string>858652034639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>hygeia-bea47</string>
	<key>STORAGE_BUCKET</key>
	<string>hygeia-bea47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858652034639:ios:9361ba05d0a5e9efee4c3a</string>
</dict>
</plist>